body {
}

hr {
   border-top: 1px solid #aaa;
}

.producer-col {
    border-left: 1px solid #aaa;
    padding-left: 6px;
}

dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

dt {
    float: left;
    width: 50%;
    padding: 0;
    margin: 0
}

dd {
    float: left;
    width: 50%;
    margin: 0
}

.header {
}

.content {

}

.qr-code {
    display: inline-block;
    border-top: dashed 3px;
    border-right: dashed 3px;
    height: auto;
}

.col-print-1 {
    width: 8%;
    float: left;
}

.col-print-2 {
    width: 16%;
    float: left;
}

.col-print-3 {
    width: 25%;
    float: left;
}

.col-print-4 {
    width: 33%;
    float: left;
}

.col-print-5 {
    width: 42%;
    float: left;
}

.col-print-6 {
    width: 50%;
    float: left;
}

.col-print-7 {
    width: 58%;
    float: left;
}

.col-print-8 {
    width: 66%;
    float: left;
}

.col-print-9 {
    width: 75%;
    float: left;
}

.col-print-10 {
    width: 83%;
    float: left;
}

.col-print-11 {
    width: 92%;
    float: left;
}

.col-print-12 {
    width: 100%;
    float: left;
}
