@model SOPS.Areas.Document.ViewModels.EmployeeReportViewModel

@{
    ViewBag.Title = "Html";
}

<link type="text/css" href="~/Areas/Document/Content/EmployeeReport.css" rel="stylesheet" />

<div>
    <header>
        <div id="company-name">
            @Model.CompanyName
        </div>
        <div id="date-info">
            @Model.DateTime.ToString("dd.MM.yy")
        </div>
        <div id="title">
            Okresowy Raport o Działalności Firmy
        </div>
    </header>

    <hr />

    <main>
    </main>
</div>
