<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/35010513-e150-436e-af2f-e32a755b23e8/resourceGroups/sops2/providers/Microsoft.Web/sites/sops2</ResourceId>
    <ResourceGroup>sops2</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sops2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sops2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sops2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sops2</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:sops2.database.windows.net,1433;Initial Catalog=sops2;User ID=pawel@sops2.database.windows.net;Password=Bombonierka1" Name="Data Source=tcp:sops2.database.windows.net,1433;Initial Catalog=sops2;User Id=pawel@sops2.database.windows.net;Password=Bombonierka1;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SOPS.ApplicationDbContext, SOPS" MigrationConfiguration="SOPS.Migrations.Configuration, SOPS" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sops2.database.windows.net,1433;Initial Catalog=sops2;User Id=pawel@sops2.database.windows.net;Password=Bombonierka1;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>